@model BLL.DTO.TicketDTO

@{
    ViewData["Title"] = "CreateTicket";
}

<h1>Lisa uus pöördumine</h1>

<h4>Pöördumine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTicket">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Kirjeldus</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Deadline" class="control-label">Tähtaeg</label>
                <input asp-for="Deadline" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Sisesta" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tagasi eelmisele lehele</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
