@model BLL.DTO.TicketDTO

@{
    ViewData["Title"] = "Delete";
}

<h1>Kustuta pöördumine</h1>

<h3>Kindel, et soovid selle kustutada?</h3>
<div>
    <h4>Pöördumine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Kirjeldus
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Sisestatud
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationTime)
        </dd>
        <dt class = "col-sm-2">
            Tähtaeg
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt class = "col-sm-2">
            Tehtud
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resolved)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Kustuta" class="btn btn-danger" /> |
        <a asp-action="Index">Tagasi eelmisele lehele</a>
    </form>
</div>
